*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    font-family: 'Merienda', cursive;
    max-width: 80%; 
    padding: 34px; 
    margin: auto;
}

.container h1{
    text-align: center;
    font-family: 'Merienda', cursive;;
    font-size: 40px;
    padding-top: 2%;
}

.p1{
    font-size: 20px;
    text-align: center;
    font-family: 'Merienda', cursive;
    padding-bottom: 2%;
    padding-top: 2%;
}

input, textarea{
    font-family: 'Merienda', cursive;
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    width: 80%;
    margin: 11px 0px;
    padding: 7px;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn{
    font-family: 'Merienda', cursive;
    color: white;
    background: rgb(0, 3, 184);
    padding: 8px 12px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer;
}
.btn:hover
{
    background:red;
}
.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.7;
}
.submit_msg{ 
    text-align: center;
    color: green;
}
footer.f1
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    margin-left: 10px;
    padding-left: 0.5%;
}